language: python
python:
  - "2.6"
before_script:
  - psql -c 'create database dashboard;' -U postgres
install:
  - python bootstrap.py -v 1.5.2 -c travis.cfg
  - bin/buildout -c travis.cfg
# TODO: testrunner here (?)
script: bin/populate_with_dummies etc/development.ini
