[redis-config]
host = 127.0.0.1
port = 6379
dir = ${buildout:directory}/var
logfile = stdout

[pyredis]
recipe = zc.recipe.egg:scripts
eggs = redis
interpreter = pyredis

[redis]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://download.redis.io/releases/redis-2.8.4.tar.gz

[redis-build]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = cd ${redis:location} && make

[redis-server]
# If you get a traceback ending like this, then you should enable a
# part that uses zc.recipe.egg.  The recipe here misses a requirement
# in setup.py, I think.
#    from zc.recipe import egg
#ImportError: No module named recipe
recipe = collective.recipe.scriptgen
cmd = ${redis:location}/src/redis-server
arguments =
  ${buildout:directory}/etc/redis.conf

[redis-conf]
recipe = collective.recipe.template
input = templates/redis.conf.in
output = etc/redis.conf

[supervisor]
programs +=
    20 redis ${buildout:directory}/parts/redis/src/redis-server [${buildout:directory}/etc/redis.conf] true
